# CONTAINER PORT
PORT=
# HOST TO PUBLIC PORT
HOST_PORT=
# API BACKEND URL
NEXT_PUBLIC_API_URL=
# TIMER SETTING
NEXT_PUBLIC_AWAL_WAKTU_PERTAMA=
NEXT_PUBLIC_AKHIR_WAKTU_PERTAMA=
NEXT_PUBLIC_AWAL_WAKTU_KEDUA=
NEXT_PUBLIC_AKHIR_WAKTU_KEDUA=